[user]
	name = esh2n
	email = shunyaendoh.bz@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
  template = ~/.gitmessage
[ghq]
  root = ~/src
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[pull]
	rebase = true
[init]
	defaultBranch = main
